.scrollbar {
    position: fixed;
    right: 0;
    width: 0.2rem;
    background: #cccccc;
    z-index: 2;
    margin-right: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  }
  
  .thumb {
    position: absolute;
    width: 100%;
    background: white;
  }
  
@media (max-width:560px){
  .scrollbar{
    margin-right: 0.2rem;
  }
}

@media (max-width:330px){
  .scrollbar{
    display: none;
  }
}