.fillbarContainer {
  height: 1.3rem;
  width: 100%;
  background-color: #e0e0de;
  position: relative;

  .filler {
    height: 100%;
    background: rgb(55, 55, 55); 
    animation: shimmer var(--animation-duration, 3.5s) var(--animation-delay, 0s) infinite linear;
      
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, transparent 25%, rgba(255, 255, 255, 0.586) 50%, transparent 75%);
      background-size: 200%;
      animation: shimmer var(--animation-duration, 3.5s) var(--animation-delay, 0s) infinite linear;
    }
  
    @keyframes shimmer {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }
  }

  .precentageNumber{
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1rem;
    transition: 0.3s ease;
  }

  .precentageNumberHidden{
    color: transparent;
  }
}