.card{
    transform: rotateY(0deg);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    color: rgb(55, 55, 55);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 450px;
    min-width: 450px;
    transform: rotateY(90deg);
    min-height: 450px;

    .bold{
        font-weight: bold;
    }

    .cardTitle{
        padding-bottom: 1rem;
    }

    .bulletpoint{
      font-size: 0.8rem;
      font-size: clamp(0.8rem, 0.7000000000000001rem + 0.5vw, 1.3rem);
    }

    li{
        padding: 0.2rem;
    }
    .flippedChild {
      transform: rotateY(180deg);
  }
  
}



@keyframes flip {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(0deg);
    }
}

.flip1 {
    animation: flip 0.4s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  
.flip2 {
    animation: flip 0.4s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
  
.flip3 {
    animation: flip 0.4s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}



  .flippedCard {
    animation: rotateY 0.3s linear both;
    transform-style: preserve-3d;
    color: white;
    box-shadow: unset;
  }

  .reverseFlippedCard {
    animation: reverseRotateY 0.3s linear both;
    transform-style: preserve-3d;
  }

  
  @keyframes rotateY {
    0% {
      transform: rotateY(0deg);
    }
  
    50% {
      transform: rotateY(90deg);
      background-color: rgb(55, 55, 55);
    }
  
    100% {
      transform: rotateY(180deg);
      background-color: rgb(55, 55, 55);
    }
  }

  @keyframes reverseRotateY {
    0% {
      transform: rotateY(180deg);
    }
  
    50% {
      transform: rotateY(90deg);
    }
  
    100% {
      transform: rotateY(0deg);
    }
  }




@media (max-width:1360px){
  .card{
    min-height: 360px;
  }
}

@media (max-width:500px){
  .card{
    max-width: 300px;
  }
}
@media (max-width:500px){
  .card{
    max-width: 270px;
  }
}