.app{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: rgb(209, 209, 209);
}

.nikolaBozin{
    font-size: 2rem;
    font-size: clamp(2rem, 0.20000000000000018rem + 9vw, 11rem);
    top: 10%;
    white-space: nowrap;
    background: linear-gradient(to bottom, gray 60%, transparent 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.softwareDeveloper{
    padding: 0 0.2rem;
    white-space: nowrap;
    font-size: 2rem;
    font-size: clamp(2rem, 0.20000000000000018rem + 9vw, 11rem);
    top: 18%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.692);
    position: relative;
    bottom: 80px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    position: relative;
}

.mainInfoContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cardsAndSelfWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

@media (max-width:1200px){
    .softwareDeveloper{
        bottom: 50px;
    }
}

@media (max-width:770px){
    .softwareDeveloper{
        bottom: 30px;
    }
}
@media (max-width:455px){
    .softwareDeveloper{
        bottom: 10px;
    }
    .cardsAndSelfWrapper{
        padding: 0.3rem;
    }
}

@media (max-width:370px){
    .softwareDeveloper{
        text-align: center;
        white-space: unset;
    }

    .cardsAndSelfWrapper{
        padding: 0.2rem;
    }
}