.app{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: rgb(209, 209, 209);
}

.nikolaBozin{
    font-size: 2rem;
    font-size: clamp(2rem, 0.20000000000000018rem + 9vw, 11rem);
    top: 10%;
    white-space: nowrap;
    background: linear-gradient(to bottom, gray 60%, transparent 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.softwareDeveloper{
    padding: 0 0.2rem;
    white-space: nowrap;
    font-size: 2rem;
    font-size: clamp(2rem, 0.20000000000000018rem + 9vw, 11rem);
    top: 18%;
    color: rgb(73, 73, 73);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.692);
    position: relative;
    bottom: 80px;
    width: 95%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    position: relative;
    align-items: stretch;
}

.darkmode {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 10px;
    mix-blend-mode: difference;
    transition: 1s ease-in-out;
    transform: scale(1);
    z-index: 1;
}

.darkmodeExpand {
    transform: scale(100);
}

.iconDiv {
    mix-blend-mode: difference;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: black;
    pointer-events: none;
    transition: 1s ease-in-out;
}

.iconDiv img {
    width: 30px;
    height: 30px;
}


.sellingTexts{
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    padding: 2rem;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
    text-align: center;
}

.mainInfoContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cardsAndSelfWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

@media (max-width:1200px){
    .softwareDeveloper{
        bottom: 50px;
    }
}

@media (max-width:770px){
    .softwareDeveloper{
        bottom: 30px;
    }
}
@media (max-width:455px){
    .softwareDeveloper{
        bottom: 10px;
    }
    .cardsAndSelfWrapper{
        padding: 0.3rem;
    }
}

@media (max-width:500px){
    .softwareDeveloper{
        text-align: center;
        white-space: unset;
    }
    .cardsAndSelfWrapper{
        padding: 0.2rem;
    }
    .darkmode,.iconDiv{
        width: 30px;
        height: 30px;
    }
    .iconDiv>img{
        width: 15px;
        height: 15px;
    }
}